*~
*.aux
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.log
*.out
*.pdf
*.dvi
*.svn
*.m4
*.0
*.1
*.3
*.Plo
*.a
*.la
*.lo
*.Po
*.o
*.guess
*.in
*.ps
*.toc
*.pc
*.lai
*.2t
*.status
*.sub
*.Tpo
Makefile
Makefile.in
html
requests
check-log-store
wmlwrap
config.h
configure
depcomp
doxygen-tag
dune-common/dune
install-sh
libtool
ltmain.h
missing
stamp-h1
am
ltmain.sh
datadisp
dgtest
lagrange
dune-fem/dune
version.hh
check-header.sh
adaptivefinitevolume
adaptiveintegration
*.eps
Makefile.dist
finitevolume
gettingstarted
integration
othergrids
parfinitevolume
traversal
visualization
dune-grid/dune
example
dune-stokes/codeblocks/bin
dune-fem-howto/dune
dune-istl/dune
dune-stokes.depend*
dune_stokes
*.orig
