[submodule "dune-stuff"]
	path = dune-stuff
	url = duneadm@dune-project.uni-muenster.de:git/projects/dune-stuff
[submodule "dune-stokes/doc/howto"]
	path = dune-stokes/doc/howto
	url = duneadm@dune-project.uni-muenster.de:git/projects/dune_stokes_howto
