*~
*.aux
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.log
*.out
*.pdf
*.dvi
*.svn
*.m4
*.0
*.1
*.3
*.Plo
*.a
*.la
*.lo
*.Po
*.o
*.guess
*.in
*.ps
*.toc
*.pc
*.lai
*.2t
*.status
*.sub
*.Tpo
Makefile
Makefile.in
html
