Makefile
Makefile.in
aclocal.m4
am
autom4te.cache
codeblocks/bin
codeblocks/dune-stokes.cbp.bak
codeblocks/dune-stokes.depend
codeblocks/dune-stokes.layout
codeblocks/dune-stokes.layout.bak
codeblocks/obj
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/doxygen/Makefile
doc/doxygen/Makefile.in
doc/doxygen/doxygen-tag
doc/doxygen/doxygen.log
doc/doxygen/doxygen.out
doc/doxygen/html
doc/doxygen/man
install-sh
ltmain.sh
missing
src/.deps
src/Makefile
src/Makefile.in
src/dgfparser.log
src/dune-stokes.log
src/dune_stokes
src/dune_stokes-dune_stokes.o
src/grid_2d.dgf.ALUgrid
src/stuff.hh.bak
src/stuff.hh.orig
stamp-h1
stokes/discretestokesfunctionspacewrapper.hh.bak
stokes/discretestokesmodelinterface.hh.bak
stokes/stokespass.hh.bak
src/data
