Makefile
Makefile.in
aclocal.m4
am
autom4te.cache
codeblocks/bin
codeblocks/dune-stokes.cbp.bak
codeblocks/dune-stokes.depend
codeblocks/dune-stokes.layout
codeblocks/dune-stokes.layout.bak
codeblocks/obj
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/doxygen/Makefile
doc/doxygen/Makefile.in
doc/doxygen/doxygen-tag
doc/doxygen/doxygen.log
doc/doxygen/doxygen.out
doc/doxygen/html
doc/doxygen/man
install-sh
ltmain.sh
missing
src/.deps
src/Makefile
src/Makefile.in
src/dgfparser.log
src/dune-stokes.log
src/dune_stokes
src/dune_stokes-dune_stokes.o
src/grid_2d.dgf.ALUgrid
src/stuff.hh.bak
src/stuff.hh.orig
src/*matlab.m
stamp-h1
stokes/discretestokesfunctionspacewrapper.hh.bak
stokes/discretestokesmodelinterface.hh.bak
stokes/stokespass.hh.bak
src/data
doc/references/stokes.pdf
src/dune_stokes_matlab.m
src/logging.hh.bak
src/matlab
src/dune_stokes.cc.bak
doc/dune-stokes-howto/dune_stokes_howto.aux
doc/dune-stokes-howto/dune_stokes_howto.idx
doc/dune-stokes-howto/dune_stokes_howto.ilg
doc/dune-stokes-howto/dune_stokes_howto.ind
doc/dune-stokes-howto/dune_stokes_howto.out
doc/dune-stokes-howto/dune_stokes_howto.pdf
doc/dune-stokes-howto/dune_stokes_howto.toc
doc/dune-stokes-howto/includes/saddelpunkt.aux
doc/dune-stokes-howto/includes/sattelpunkt.aux
doc/dune-stokes-howto/includes/stokes.aux
doc/dune-stokes-howto/includes/stokes_mit_ldg.aux
doc/dune-stokes-howto/includes/stokes_mit_ldg.tex.backup
build*
darcy/.deps
darcy/darcy
darcy/darcy-darcy.o
darcy/data
darcy/generateCubeWithHole.py
darcy/grid_2d.dgf.ALUgrid
darcy/log
darcy/trianlge2dgf.py
doc/doxygen/latex
elliptic/.deps
elliptic/darcy_matlab.m
elliptic/elliptic
elliptic/elliptic.o
elliptic/generateCubeWithHole.py
elliptic/grid_2d.dgf.ALUgrid
elliptic/grid_3d.dgf.ALUgrid
elliptic/micro_2d.dgf.ALUgrid
elliptic/trianlge2dgf.py
elliptic/unit_sand_pore_in_2d.1.poly
elliptic/unit_sand_pore_in_2d.poly
src/cube_with_hole_in_2d.1.ele
src/cube_with_hole_in_2d.1.node
src/cube_with_hole_in_2d.1.poly
src/cube_with_hole_in_2d.dgf.ALUgrid
src/cube_with_hole_in_2d.poly
src/grid_3d.dgf.ALUgrid
src/homogeneous_perforated_domain_2d.1.ele
src/homogeneous_perforated_domain_2d.1.node
src/homogeneous_perforated_domain_2d.1.poly
src/homogeneous_perforated_domain_2d.2.ele
src/homogeneous_perforated_domain_2d.2.node
src/homogeneous_perforated_domain_2d.2.poly
src/homogeneous_perforated_domain_2d.poly
src/homogeneous_perforated_domain_2d_clay_soil.1.ele
src/homogeneous_perforated_domain_2d_clay_soil.1.node
src/homogeneous_perforated_domain_2d_clay_soil.1.poly
src/homogeneous_perforated_domain_2d_clay_soil.poly
src/homogeneous_perforated_domain_2d_sand.1.ele
src/homogeneous_perforated_domain_2d_sand.1.node
src/homogeneous_perforated_domain_2d_sand.1.poly
src/homogeneous_perforated_domain_2d_sand.poly
src/log
darcy/CMakeLists.txt
darcy/analyticaldarcydata.hh
darcy/darcy_matlab.m
darcy/unit_sand_pore_in_2d.dgf
darcy/unit_sand_pore_in_2d.dgf.ALUgrid
src/blah.1.ele
src/blah.1.node
src/blah.1.poly
src/blah.poly
src/box.1.ele
src/box.1.node
src/box.1.poly
src/box.poly
src/cockburn
src/cube_with_hole_2d_triangle.dgf
src/cube_with_hole_2d_triangle.dgf.ALUgrid
src/cube_with_hole_2d_trianlge.dgf
src/cube_with_hole_in_2d.2.ele
src/cube_with_hole_in_2d.2.node
src/cube_with_hole_in_2d.2.poly
src/cube_with_hole_in_2d_triangle.dgf
src/cube_with_hole_in_2d_triangle.dgf.ALUgrid
src/face.1.ele
src/face.1.node
src/face.1.poly
src/face.poly
src/micro
src/p1_refinelvl_0.csv
src/prof_p1.csv
src/trianlge.param
src/tube.1.ele
src/tube.1.node
src/tube.1.poly
src/tube.dgf
src/tube.poly
src/tube
src/unit_sand_pore_in_2d.1.dgf.ALUgrid
src/unit_sand_pore_in_2d.1.ele
src/unit_sand_pore_in_2d.1.node
src/unit_sand_pore_in_2d.1.poly
src/unit_sand_pore_in_2d.poly
