Makefile
Makefile.in
aclocal.m4
am
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/doxygen/Makefile
doc/doxygen/Makefile.in
install-sh
ltmain.sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/dune_stokes
src/dune_stokes-dune_stokes.o
stamp-h1
src/data/
codeblocks/*
!codeblocks/*.cbp
doxygen.out
*.vtu
*.ALUgrid
