Makefile
Makefile.in
aclocal.m4
am
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/doxygen/Makefile
doc/doxygen/Makefile.in
doc/doxygen/doxygen-tag
doc/doxygen/doxygen.log
doc/doxygen/doxygen.out
doc/doxygen/html
doc/doxygen/man
dune
dune-fem.pc
fem/.libs
fem/Makefile
fem/Makefile.in
fem/devel-suite/Makefile
fem/devel-suite/Makefile.in
fem/devel-suite/elliptic/.deps
fem/devel-suite/elliptic/Makefile
fem/devel-suite/elliptic/Makefile.in
fem/devel-suite/l2projection/.deps
fem/devel-suite/l2projection/Makefile
fem/devel-suite/l2projection/Makefile.in
fem/devel-suite/laplace/.deps
fem/devel-suite/laplace/Makefile
fem/devel-suite/laplace/Makefile.in
fem/devel-suite/localdg/Makefile
fem/devel-suite/localdg/Makefile.in
fem/devel-suite/localdg/advectdiffusion/.deps
fem/devel-suite/localdg/advectdiffusion/Makefile
fem/devel-suite/localdg/advectdiffusion/Makefile.in
fem/devel-suite/pass/.deps
fem/devel-suite/pass/Makefile
fem/devel-suite/pass/Makefile.in
fem/devel-suite/poisson/.deps
fem/devel-suite/poisson/Makefile
fem/devel-suite/poisson/Makefile.in
fem/devel-suite/transport/.deps
fem/devel-suite/transport/Makefile
fem/devel-suite/transport/Makefile.in
fem/devel-suite/vectorial/.deps
fem/devel-suite/vectorial/Makefile
fem/devel-suite/vectorial/Makefile.in
fem/function/Makefile
fem/function/Makefile.in
fem/function/adaptivefunction/Makefile
fem/function/adaptivefunction/Makefile.in
fem/function/attachedfunction/Makefile
fem/function/attachedfunction/Makefile.in
fem/function/blockvectorfunction/Makefile
fem/function/blockvectorfunction/Makefile.in
fem/function/combinedfunction/Makefile
fem/function/combinedfunction/Makefile.in
fem/function/common/Makefile
fem/function/common/Makefile.in
fem/function/localfunction/Makefile
fem/function/localfunction/Makefile.in
fem/function/productfunction/Makefile
fem/function/productfunction/Makefile.in
fem/function/productfunction/test/.deps
fem/function/productfunction/test/Makefile
fem/function/productfunction/test/Makefile.in
fem/function/vectorfunction/Makefile
fem/function/vectorfunction/Makefile.in
fem/gridpart/Makefile
fem/gridpart/Makefile.in
fem/io/Makefile
fem/io/Makefile.in
fem/io/file/Makefile
fem/io/file/Makefile.in
fem/io/file/test/.deps
fem/io/file/test/Makefile
fem/io/file/test/Makefile.in
fem/io/matlab/Makefile
fem/io/matlab/Makefile.in
fem/io/matlab/m/Makefile
fem/io/matlab/m/Makefile.in
fem/io/matlab/test/.deps
fem/io/matlab/test/Makefile
fem/io/matlab/test/Makefile.in
fem/io/streams/Makefile
fem/io/streams/Makefile.in
fem/io/streams/test/.deps
fem/io/streams/test/Makefile
fem/io/streams/test/Makefile.in
fem/io/visual/Makefile
fem/io/visual/Makefile.in
fem/io/visual/grape/Makefile
fem/io/visual/grape/Makefile.in
fem/io/visual/grape/datadisp/Makefile
fem/io/visual/grape/datadisp/Makefile.in
fem/io/visual/grape/functionview/Makefile
fem/io/visual/grape/functionview/Makefile.in
fem/io/visual/grape/gridview/.deps
fem/io/visual/grape/gridview/Makefile
fem/io/visual/grape/gridview/Makefile.in
fem/libfem.la
fem/misc/Makefile
fem/misc/Makefile.in
fem/operator/0order/Makefile
fem/operator/0order/Makefile.in
fem/operator/1order/Makefile
fem/operator/1order/Makefile.in
fem/operator/2order/Makefile
fem/operator/2order/Makefile.in
fem/operator/Makefile
fem/operator/Makefile.in
fem/operator/common/Makefile
fem/operator/common/Makefile.in
fem/operator/common/test/.deps
fem/operator/common/test/Makefile
fem/operator/common/test/Makefile.in
fem/operator/matrix/Makefile
fem/operator/matrix/Makefile.in
fem/operator/model/Makefile
fem/operator/model/Makefile.in
fem/operator/projection/Makefile
fem/operator/projection/Makefile.in
fem/pass/Makefile
fem/pass/Makefile.in
fem/pass/test/.deps
fem/pass/test/Makefile
fem/pass/test/Makefile.in
fem/pass/test/dgellipt/.deps
fem/pass/test/dgellipt/Makefile
fem/pass/test/dgellipt/Makefile.in
fem/quadrature/Makefile
fem/quadrature/Makefile.in
fem/quadrature/caching/Makefile
fem/quadrature/caching/Makefile.in
fem/quadrature/caching/test/.deps
fem/quadrature/caching/test/Makefile
fem/quadrature/caching/test/Makefile.in
fem/quadrature/test/.deps
fem/quadrature/test/Makefile
fem/quadrature/test/Makefile.in
fem/solver/.libs
fem/solver/Makefile
fem/solver/Makefile.in
fem/solver/libsolver.la
fem/solver/ode/.deps
fem/solver/ode/.libs
fem/solver/ode/Makefile
fem/solver/ode/Makefile.in
fem/solver/ode/libodesolver.la
fem/solver/ode/libodesolver_la-odeobjectfiles.lo
fem/solver/ode/libodesolver_la-odeobjectfiles.o
fem/solver/oemsolver/Makefile
fem/solver/oemsolver/Makefile.in
fem/solver/test/Makefile
fem/solver/test/Makefile.in
fem/space/.libs
fem/space/Makefile
fem/space/Makefile.in
fem/space/basefunctions/Makefile
fem/space/basefunctions/Makefile.in
fem/space/combinedspace/Makefile
fem/space/combinedspace/Makefile.in
fem/space/common/Makefile
fem/space/common/Makefile.in
fem/space/dgspace/.deps
fem/space/dgspace/.libs
fem/space/dgspace/Makefile
fem/space/dgspace/Makefile.in
fem/space/dgspace/libdgspace.la
fem/space/dgspace/libdgspace_la-dgbasefunctions_1.lo
fem/space/dgspace/libdgspace_la-dgbasefunctions_1.o
fem/space/dgspace/libdgspace_la-dgbasefunctions_2.lo
fem/space/dgspace/libdgspace_la-dgbasefunctions_2.o
fem/space/dgspace/libdgspace_la-dgbasefunctions_3.lo
fem/space/dgspace/libdgspace_la-dgbasefunctions_3.o
fem/space/fvspace/Makefile
fem/space/fvspace/Makefile.in
fem/space/lagrangespace/.deps
fem/space/lagrangespace/.libs
fem/space/lagrangespace/Makefile
fem/space/lagrangespace/Makefile.in
fem/space/lagrangespace/liblagrangespace.la
fem/space/lagrangespace/liblagrangespace_la-basefunctions.lo
fem/space/lagrangespace/liblagrangespace_la-basefunctions.o
fem/space/lagrangespace/test/.deps
fem/space/lagrangespace/test/Makefile
fem/space/lagrangespace/test/Makefile.in
fem/space/libspace.la
fem/space/reducedbasisspace/Makefile
fem/space/reducedbasisspace/Makefile.in
fem/space/reducedbasisspace/test/.deps
fem/space/reducedbasisspace/test/Makefile
fem/space/reducedbasisspace/test/Makefile.in
fem/space/test/.deps
fem/space/test/Makefile
fem/space/test/Makefile.in
fem/storage/Makefile
fem/storage/Makefile.in
fem/test/.deps
fem/test/Makefile
fem/test/Makefile.in
install-sh
lib/.libs
lib/Makefile
lib/Makefile.in
lib/libdunefem.la
ltmain.sh
missing
stamp-h1
