.deps
Makefile
Makefile.in
aclocal.m4
adaptivefinitevolume
adaptivefinitevolume-adaptivefinitevolume.o
adaptiveintegration
adaptiveintegration-adaptiveintegration.o
am
autom4te.cache
bin/wmlwrap
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/EPS/adaptiveintegration_alberta2d.eps
doc/EPS/adaptiveintegration_ug3d.eps
doc/EPS/alberta2d-view1.eps
doc/EPS/alberta2d-view2.eps
doc/EPS/alberta2d.eps
doc/EPS/alberta3d.eps
doc/EPS/alucube3d.eps
doc/EPS/alusimplex3d.eps
doc/EPS/conc.eps
doc/EPS/iso.eps
doc/EPS/ug2dquad-view1.eps
doc/EPS/ug2dquad-view2.eps
doc/EPS/ug2dtri-view1.eps
doc/EPS/ug2dtri-view2.eps
doc/EPS/ugcube2d.eps
doc/EPS/ugcube3d.eps
doc/EPS/ugsimplex2d.eps
doc/EPS/ugsimplex3d.eps
doc/EPS/yasp3d.eps
doc/Makefile
doc/Makefile.dist
doc/Makefile.dist.in
doc/Makefile.in
finitevolume
finitevolume-finitevolume.o
gettingstarted
gettingstarted-gettingstarted.o
grids/Makefile
grids/Makefile.in
install-sh
integration
integration-integration.o
ltmain.sh
missing
othergrids
othergrids-othergrids.o
parfinitevolume
parfinitevolume-parfinitevolume.o
stamp-h1
traversal
traversal-traversal.o
visualization
visualization-visualization.o
