Makefile
Makefile.in
aclocal.m4
am
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
doc/femhowto.aux
doc/femhowto.bbl
doc/femhowto.blg
doc/femhowto.dvi
doc/femhowto.log
doc/femhowto.out
doc/femhowto.toc
dune
install-sh
ltmain.sh
missing
src_localdg/Makefile
src_localdg/Makefile.in
src_localdg/doc/Makefile
src_localdg/doc/Makefile.in
src_localdg/doc/doxygen/Makefile
src_localdg/doc/doxygen/Makefile.in
src_localdg/doc/doxygen/doxygen-tag
src_localdg/doc/doxygen/doxygen.log
src_localdg/doc/doxygen/doxygen.out
src_localdg/doc/doxygen/html
src_localdg/doc/doxygen/man
stamp-h1
depcomp
src_localdg/.deps
doc/femhowto.ps
