Makefile
Makefile.in
aclocal.m4
am
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
doc/femhowto.aux
doc/femhowto.bbl
doc/femhowto.blg
doc/femhowto.dvi
doc/femhowto.log
doc/femhowto.out
doc/femhowto.toc
dune
install-sh
ltmain.sh
missing
stamp-h1

src_localdg/*
Makefile
Makefile.in
dgtest
dgtest.o
datadisp
datadisp.o
depcomp
