Makefile
Makefile.in
aclocal.m4
am
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
doc/Makefile
doc/Makefile.in
doc/doxygen/Makefile
doc/doxygen/Makefile.in
install-sh
ltmain.sh
missing
stamp-h1
src/Makefile
src/Makefile.in
src/ldg_stokes
src/ldg_stokes-stokes.o
src/.deps
depcomp
